@import 'media-queries';



html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


// ----------NAVBAR CONTAINER ----------------
    .container_NavBar {
      margin: 0;
      position: fixed;
      top: 0;
      z-index: 999;
      width: 100%;
      

      // ---------TEXTO PUBLICITARIO ARRIBA DEL NAVBAR-----------------
      .header {
        background-color: black;
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;


        .text-content {

          position: relative;
  top: 5px;
  left: 0;
  width: 50px;
  height: 100%;

  animation: slide-in 50s infinite linear reverse;
  white-space: nowrap;


          span {
            display: inline-block;

            color: white;
            font-size: 14px;
            font-weight: lighter;
            margin: 0 15px;
          }
        }

        @keyframes slide-in {
          0% {

            left: -100%;
          }

          100% {
           left: 100%;
          }
        }

      }

        // ---------- FIN DEL TEXTO PUBLICITARIO ------------------------

        // ------------- NAV BAR LINKS ------------------------------
        .NavBar {

          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          padding: 2px 30px;
          @include mobile{
          background-color: rgb(98, 243, 231);
          }
            .NavBarLogo {
              padding: 5px 10px;
              width: 70px;
              height: 63px;
              @include mobile {
                display: none;
              }
            }
            .Ul-container {
              list-style: none;
              padding: 0;
              margin: 0;
              display: flex;
              align-items: center;
              flex: 4;
                li {
                  position: relative;
                  display: flex;
                  justify-content: center;
                  align-items:center ;
                  padding: 0 30px;
                    a {
                      color: #000;
                      display: block;
                      text-decoration: none;
                      &:hover {
                        background-color: #eee;
                      }
                    }
                }
              }
//---------- INPUT BARRA DE BUSQUEDA ---------------
              .containerSearchInput{
                display: flex;
                align-items: center;
                position: relative;
                margin: 0 40px;
                  .inputSearch{
                    padding: 10px;
                    border: 1px solid #ccc; /* Borde gris */
                    border-radius: 2px; /* Bordes redondeados */
                    background-color: #f2f2f2; /* Fondo gris claro */
                    font-size: 12px; /* Tamaño del texto */
                    width: 250px; /* Ancho del input */
                  }
                  .inputSearch:focus {
                    outline: none; /* Elimina el contorno predeterminado al enfocar */
                    border-color: #f2f2f2; /* Cambia el color del borde al enfocar */
                  }
                  .btnSvgSearch{
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding-top: 5px;
                    margin-right: 10px;
                    background: none;
                    border: none;
                    cursor: pointer;
                  }
              }
 // -------------CARRITO-------------
            .tbuttonCartwidge{
              border: none;
              background: none;
                span{
                  color: #000;
                      }
              }
            .spanNumber{
              position: absolute;
              top: 49px;
              right: 30px;
              padding: 3px;
              font-size: 15px;
              line-height: 12px;
              border-radius: 17px;
              text-align: center;
              width: 16px;
              height: 15px;
              border: 1px solid black;
              color: white;
              background: black;
            }
            // -----------FIN DEL CARRITO----------

        }
        // --------- FIN DEL NAVBAR LINKS --------------
}
// --------- FIN DEL NAVBAR CONTAINER--------------

//-----------------MAIN PAGE-----------------------
.imgCoverContainer{
  margin-top: 76px;
  margin-bottom: -4px;
}
.MainPageSectionMetodosDePago{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #000;
  
  
    .MetodosDePagoContainer{
     
      color: #fff;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-basis: 25%;
      padding: 20px 0;
 
  view-timeline-name: --container;
  view-timeline-axis: block;
  animation-timeline: --container;
  animation-name: fade-in-up;
  animation-range: entry 5% cover 30%;
  animation-fill-mode: both;
 

 

  @keyframes fade-in-up {
    0% {
      opacity: 0;
     
      transform: translateY(100%);
    }
  
    100% {
      opacity: 1;
       transform: translateY(0);
    }
  }

    .MetodosDePagoPageMainText{
          margin-left: 20px;
          h4{
            margin-bottom: -10px;
           }
  
      }
    }
  
  
}

// ------------------ CARROUSEL-------------------------


// .carousel-container {
//   width: 100%;
//   max-width: 964px;
//   position: relative;
// }

// .cards-wrapper {
//   overflow: auto;
//   scroll-behavior: smooth;
//   scrollbar-width: none;
//   display: grid;
//   grid-gap: 16px;
//   grid-auto-flow: column;
//   margin: auto;
//   box-sizing: border-box;
// }

// .cards-wrapper::-webkit-scrollbar {
//   height: 0;
// }

.slider-container {
  max-width: 1200px; /* ajusta este valor según tu diseño */
  margin: 0 auto; /* centrar el contenido */
}

  .card {
    max-width: 300px; /* ajusta este valor según tu diseño */
    // margin: 30px 10px 30px 20px; /* centrar el contenido */
    border: 1px solid black;
    height: 500px;
  }
  


// .prev-btn,
// .next-btn {
//   display: flex;
//   justify-content: center;
//   align-content: center;
//   background: white;
//   border: none;
//   padding: 8px;
//   border-radius: 50%;
//   outline: 0;
//   cursor: pointer;
//   position: absolute;
// }

// .prev-btn {
//   top: 50%;
//   left: 0;
//   transform: translate(50%, -50%);
//   // display: none;
// }

// .next-btn {
//   top: 50%;
//   right: 0;
//   transform: translate(-50%, -50%);
// }


           .PContainerCardCart{

            margin-top: 200px;


            .imgCardCart{
              width: 100px;
              height: 100px;

            }
          }
          @media all and (max-width: 480px) {

          }

    .containerproducts {
      display: flex;
      .containerCardItem{
        width: 300px;
        margin: 10px 30px;
        border: 1px solid black;
        padding: 10px;
        background-color: aquamarine;

      .imgCard{
        width: 150px;
        height: 150px;
      }
    }
    }



      .item-detail{
        width: 300px;
        margin: 10px 30px;
        border: 1px solid black;
        padding: 10px;
        background-color: aquamarine;
        .imgCard{
          width: 150px;
          height: 150px;
        }
      }



