@import 'media-queries';


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


// ----------NAVBAR CONTAINER ----------------
    .container_NavBar {
      margin: 0;
      position: fixed;
      width: 100%;

      // ---------TEXTO PUBLICITARIO ARRIBA DEL NAVBAR-----------------
      .header {
        background-color: black;
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .text-content {
          position: absolute;
          top: 0;
          left: 0;
          width: 200px;
          height: 100%;
          transform: translateX(-100%);
          // opacity: 0;
          animation: 209.05s linear 0s infinite normal none running marquee;
          white-space: nowrap;
          
          span {
            display: inline-block;
            
            color: white;
            font-size: 14px;
            font-weight: lighter;
          }
        }
        
        @keyframes slide-in {
          from {
            transform: translateX(50%);
            // opacity: 0;
          }
        
          to {
            transform: translateX(0%);
            // opacity: 1;
          }
        
      }
      
    
      
      // .container {
      //   position: relative;
      //   width: 100%;
      //   height: 100%;
      // }
      
      }
      .header .text-content {
        animation: slide-in 45s infinite linear;
      }
        // .textHeader {
        //   background-color: black;
        //   display: flex;
        //   flex-direction: row;
        //   justify-content: flex-start;
        //   align-items: center;
        //   height: 30px;
        //     p{
        //       display: inline-block;
        //       color: #fff;
        //       text-align: center;
        //       animation-duration: 25s;
        //       animation-name: slidein;
        //       animation-iteration-count: infinite;
        //       animation-timing-function: linear;
        //       white-space: nowrap;
        //       transform: translateX(-100%);
        //     }
        //     @keyframes slidein {
        //       from {
        //         margin-left: 100%;
        //         width: 300%;
        //       }
            
        //       to {
        //         margin-left: -200%;
        //         width: 100%;
        //       }
        //     }
            
        //             }
        // ---------- FIN DEL TEXTO PUBLICITARIO ------------------------

        // ------------- NAV BAR LINKS ------------------------------
        .NavBar {
         
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          padding: 2px 30px;
          @include mobile{
          background-color: rgb(98, 243, 231);
          }
            .NavBarLogo {
              padding: 5px 10px;
              width: 70px;
              height: 63px;
              @include mobile {
                display: none;
              }
            }
            .Ul-container {
              list-style: none;
              padding: 0;
              margin: 0;
              display: flex;
              align-items: center;
              flex: 4;
                li {
                  position: relative;
                  display: flex;
                  justify-content: center;
                  align-items:center ;
                  padding: 0 30px;
                    a {
                      color: #000;
                      display: block;
                      text-decoration: none;
                      &:hover {
                        background-color: #eee;
                      }
                    }
                }
              }
//---------- INPUT BARRA DE BUSQUEDA ---------------
              .containerSearchInput{
                display: flex;
                align-items: center;
                position: relative;
                margin: 0 40px;
                  .inputSearch{
                    padding: 10px;
                    border: 1px solid #ccc; /* Borde gris */
                    border-radius: 2px; /* Bordes redondeados */
                    background-color: #f2f2f2; /* Fondo gris claro */
                    font-size: 12px; /* Tamaño del texto */
                    width: 250px; /* Ancho del input */
                  }
                  .inputSearch:focus {
                    outline: none; /* Elimina el contorno predeterminado al enfocar */
                    border-color: #f2f2f2; /* Cambia el color del borde al enfocar */
                  }
                  .btnSvgSearch{
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding-top: 5px;
                    margin-right: 10px;
                    background: none;
                    border: none;
                    cursor: pointer;
                  }
              }
 // -------------CARRITO-------------
            .tbuttonCartwidge{
              border: none;
              background: none;
                span{
                  color: #000;
                      }
              }
            .spanNumber{
              position: absolute;
              top: 49px;
              right: 30px;
              padding: 3px;
              font-size: 15px;
              line-height: 12px;
              border-radius: 17px;
              text-align: center;
              width: 16px;
              height: 15px;
              border: 1px solid black;
              color: white;
              background: black;
            }
            // -----------FIN DEL CARRITO----------

        } 
        // --------- FIN DEL NAVBAR LINKS --------------  
}
// --------- FIN DEL NAVBAR CONTAINER--------------  

           
           .ContainerCardCart{
            margin: auto;
            
            .imgCardCart{
              width: 100px;
              height: 100px;
              
            }
          }
          @media all and (max-width: 480px) { 

          }
  
    .containerproducts {
      display: flex;
      .containerCardItem{
        width: 300px;
        margin: 10px 30px;
        border: 1px solid black;
        padding: 10px;
        background-color: aquamarine;
      
      .imgCard{
        width: 150px;
        height: 150px;
      }
    }
    }

   
      
      .item-detail{
        width: 300px;
        margin: 10px 30px;
        border: 1px solid black;
        padding: 10px;
        background-color: aquamarine;
        .imgCard{
          width: 150px;
          height: 150px;
        }
      }
    
    

